.topBar {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 0px;
}

.search {
  flex: 1;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
}

.search input {
  flex: 1;
  background-color: transparent;
  font-size: 14px;
  border: none;
  outline: none;
}
