.postPage {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.postContainer {
  display: flex;
  width: 65%;
  max-height: 500px;
  border: 1px solid #e9e9e9;
  border-radius: 28px;
  overflow: hidden;
}

.postImage {
  background-color: #c0a68c;
}

.postDetails {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  overflow: hidden;
}

.postImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.postUser {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postUser img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.postUser span {
  font-size: 14px;
}

@media (max-width: 1127px) {
  .postContainer {
    width: 100%;
    margin-right: 16px;
  }
}

@media (max-width: 751px) {
  .postContainer {
    flex-direction: column;
  }
}
